.cars-page {
  background-color: #fafafa;
  padding-top: 3em;
  text-align: center;
}

.cars-header {
  height: 10em;
  width: 12em;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin: 0 auto;

  margin-bottom: 0.5em;
}
.car-company {
  font-size: 1.4rem;
  margin: 0 auto;
  text-align: center;
}
.car-add-btn {
  margin-top: 0.5em;
  margin-bottom: 4em;
  width: 10em;
  border: none;
  background-color: tomato;
  color: white;
  padding: 0.6em;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
}
.car-details {
  width: 80%;
  height: 15em;
  margin: 0 auto;
  background-color: white;
  display: flex;
  margin-bottom: 2em;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.spec-container {
  width: 15em;
  margin-top: 2em;
}
.fa-tachometer,
.fa-gas-pump,
.fa-cogs {
  font-size: 2.5rem;
  color: tomato;
}
.car-photo {
  width: 30%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 20px 0 0 20px;
}
.car-price {
  margin: 0.5em 0;
  text-align: left;
  font-weight: 600;
  font-size: 1.4rem;
}
.car-detail-name {
  margin: 0;
  text-align: left;
}
.car-spec {
  padding: 1.5em;
}
.car-key-spec {
  display: flex;
  justify-content: space-between;
}
.edit {
  margin-left: auto;
  display: flex;
  gap: 1em;
  margin-right: 1em;
  margin-top: 1em;
}

.update-car {
  align-self: flex-end;
  margin-left: auto;
  width: 7em;
  border: none;
  background-color: tomato;
  color: white;
  padding: 0.6em;
  border-radius: 10px;
  font-size: 1rem;
}
.edit .fa-edit,
.fa-trash {
  font-size: 1.5rem;
  color: tomato;
  cursor: pointer;
}
