.modal-overlay {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-box {
  width: 20rem;
  height: 12rem;
  text-align: left;
  margin-top: 2em;
}
.modal-title {
  background-color: white;
  border-radius: 5px;
  height: 50%;
  padding: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.modal-title span {
  margin-right: 0.5em;
  cursor: pointer;
  font-size: 1.3rem;
}

.modal-btn {
  padding: 0.4em;
  border: 0;
  font-size: 1rem;
  border-radius: 4px;
  margin-top: 0.3em;
  background-color: white;
  color: grey;
  cursor: pointer;
  opacity: 0.8;
}
.modal-btn:hover {
  opacity: 1;
}
.modal-input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid tomato;
  padding: 0.5em;
}
