.new-car-overlay {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.5s ease-in;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 99;
}

.new-car-main {
  border-radius: 5px;
  background-color: white;
  width: 30%;
  height: 90%;
  padding: 1em;
}
.input-names {
  font-weight: 700;
}
.input-group {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 1em auto;
  align-items: flex-start;
}

.new-car-form input {
  width: 100%;
  outline: none;
  font-size: 1rem;
  margin-bottom: 2em;
  padding: 0.6em;
  border: none;
  border-bottom: 3px solid tomato;
}

.new-car-btn {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 2em;
}

.new-car-add-btn,
.new-car-cancel-btn,
.car-update {
  border: none;
  background-color: tomato;
  color: white;
  padding: 0.3em 0.9em;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}
